@font-face {
    font-family: 'Indie Flower';
    src: url('/fonts/Indie_Flower/IndieFlower.woff2') format('woff2'),
        url('/fonts/Indie_Flower/IndieFlower.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('/fonts/Mali/Mali-SemiBold.woff2') format('woff2'),
        url('/fonts/Mali/Mali-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('/fonts/Mali/Mali-Regular.woff2') format('woff2'),
        url('/fonts/Mali/Mali-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('/fonts/Mali/Mali-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/Mali/Mali-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('/fonts/Mali/Mali-MediumItalic.woff2') format('woff2'),
        url('/fonts/Mali/Mali-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('/fonts/Mali/Mali-LightItalic.woff2') format('woff2'),
        url('/fonts/Mali/Mali-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('/fonts/Mali/Mali-Italic.woff2') format('woff2'),
        url('/fonts/Mali/Mali-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('/fonts/Mali/Mali-Medium.woff2') format('woff2'),
        url('/fonts/Mali/Mali-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('/fonts/Mali/Mali-Light.woff2') format('woff2'),
        url('/fonts/Mali/Mali-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('/fonts/Mali/Mali-Bold.woff2') format('woff2'),
        url('/fonts/Mali/Mali-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('/fonts/Mali/Mali-BoldItalic.woff2') format('woff2'),
        url('/fonts/Mali/Mali-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


:root {
  /* from website */
  --theme-color: #006771;
  --light-theme-color: #5BA7AE;
  --highlight-color: #FF3E5E;
  --border-width: 4rem;
  --nav-width: calc(16rem + 5%);
  --focus-border: 2px solid var(--theme-color);
  background-color: white;
  color: var(--theme-color);
  font-size: 16px;
  margin: 0;

  /* from website elements */
  --font-headline: normal 600 1.25rem "Mali", sans-serif;
  --font-text: normal 500 1rem "Mali", sans-serif;
}

body, button {
  font: var(--font-text);
  color: var(--theme-color);
  border-color: var(--theme-color);
  outline-color: var(--theme-color);
}

li {
  padding-bottom: 1ex;
}

button {
  font-size: 100%;
  padding: 1em;
}

a, a:hover, a:visited {
  color: var(--theme-color-light);
}

body {
    margin: 0;
    padding: 8px;
    min-height: 100vh;
    transition: background-color 2.2s 0.2s;
}